<div>
  <h1>API</h1>

  <div class="field">
    <div class="control">
      <input class="input is-small" type="text" placeholder="API key">
    </div>
  </div>

  <div class="field">
    <div class="control">
      <input class="input is-small" type="password" placeholder="API secret">
    </div>
  </div>

  <div class="field">
    <div class="control">
      <input class="input is-small" type="email" placeholder="Username">
    </div>
  </div>

  <div class="field">
    <div class="control">
      <input class="input is-small" type="password" placeholder="Password">
    </div>
  </div>

  <div class="button is-small">Save</div>
</div>
