<div class="form-container">
  <mat-form-field>
    <input matInput placeholder="Client id" [(ngModel)]="clientId">
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="Client secret" [(ngModel)]="clientSecret">
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="Username" [(ngModel)]="username">
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="Password" [(ngModel)]="password">
  </mat-form-field>

  <button mat-button (click)="save()">Save</button>
</div>
